*
  padding 0
  margin 0

html
  font-family 'Roboto'
  font-size 0.9em

body
  padding 1.5rem
  margin 1.5rem
  background-color #ebf5fb

.full-width
  width 100%

.center-content
  display flex
  justify-content center
  align-items center

.question-container
  @extend .center-content
  @extend .full-width
  flex-direction row

.question-label
  flex 30%

.question-input
  flex 40%

select
  min-height 1.9rem
  width 100%
  max-width 25rem
  border 1px solid #cccccc
  border-radius 0.3rem
  font-family 'Roboto'
  padding-top 0.3rem
  font-size 0.9em
  &:focus
    outline 0
    color transparent
    text-shadow 0 0 0 #000